img.logo {
	margin-top: 150px;
	width: 272px;
	height: 92px;
}

input#kutucuk {
	width :500px;
	height: 30px;
	padding-left: 15px;
	font-size: 15px;
	color: black;
	border-radius: 6px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
}

button.btn {
	height: 30px;
	border: 1px solid #ccc;
	border-radius: 6px;
}

#alan {
	background-color: #ccc;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px; 
	margin-top: 251px
}

body{
	margin:0px;
}